/* Body {{{1*/
body {
  margin: 0;
  border: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  color: rgb(80, 80, 80);
  font-family: "FiraSans";
}

body > span {
  position: fixed;
  display: block;
  top: 0;
  height: 40px;
  line-height: 40px;
}

body > span.right {
  right: 0;
}

body > span > i {
  height: 100% !important;
}

body > header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;

  padding: 0 40px;

  background-color: rgb(58, 170, 53);
  /*
  background: linear-gradient(rgba(224, 224, 224, 1), rgba(58, 170, 53, 1));
  */
}

body > section.main {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin: 40px 0 0 0;
}

/* Flex rows and columns {{{1*/
*.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

*.row > * {
  flex-shrink: 0;
  flex-basis: auto;
}

*.row > *.stretch {
  /*
  flex-basis: fill;
  */

  flex-grow: 1;
  flex-shrink: 1;
}

*.row > *:not(:last-child) {
  padding-right: 16px;
}

/* Hx, P {{{1*/
h2 {
  margin: 0;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;

  color: rgb(128, 128, 128);
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}

h3 {
  margin: 0;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 18px;
  font-weight: 400;
}

p {
  margin: 0;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 16px;
  font-weight: 300;
}

/* Checkbox {{{1*/
span.checkbox {
  width: 20px;
  height: 20px;
  flex-basis: 20px;

  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(58, 170, 53);

  color: rgb(58, 170, 53);
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-family: "fxos-icons";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

span.checkbox[value="1"]::after,
span.checkbox[value="true"]::after {
  content: 'tick';
  vertical-align: middle;
}

/* Button {{{1*/
@font-face {
  font-family: "fxos-icons";
  src: url("../node_modules/fxos-icons/fonts/fxos-icons.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

i.button.char::before,
span.buttons.char > i::before {
  font-family: "fxos-icons";
  content: attr(data-icon);
  display: inline-block;
  font-weight: 500;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
}

i.button.char,
span.buttons.char > i {
  width: 40px;
  height: auto;
  flex-basis: 40px;
}

i.button.char,
span.buttons.char {
  color: rgb(128, 128, 128);
  text-align: center;
}

i.button.text,
span.buttons.text > i {
  width: auto;
  height: auto;
  padding: 4px 12px;
  font-style: normal;
}

i.button.text,
span.buttons.text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-variant: small-caps;
}

*.row > i.button,
*.row.buttons > i,
*.row > span.buttons > i {
  display: inline-block;
}

span.buttons > i {
  border-right: 1px solid rgb(240, 240, 240);
}

span.buttons > i:first-child {
  border-left: 1px solid rgb(240, 240, 240);
}

span.buttons > i[value="1"],
span.buttons > i[value="ok"],
span.buttons > i[value="true"] {
  color: rgb(58, 170, 53);
}

/* Slider {{{1*/
span.slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 14px 40px;
  height: 32px;
}

span.slider > span {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(196, 196, 196);
}

span.slider > span > span {
  position: relative;
  display: block;
  height: 100%;
  background-color: rgb(58, 170, 53);
}

span.slider > span > span > div {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  top: -14px;
  right: -16px;


  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(58, 170, 53);

  /*
  border-color: rgb(241, 137, 45);  orange
  background-color: rgba(255, 255, 255, 1);
  */
}

/* Header {{{1*/
header {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

header * {
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  color: inherit;
}

/* List {{{1*/
ul {
  list-style-type: none;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
}

li {
  position: relative;
  width: 100%;
  padding: 8px 0;
}

li.divider {
  padding: 20px 0 16px 0;
}

li.divider::after {
  display: block;
  position: absolute;
  z-index: -1;
  width: calc(100% - 16px);
  height: 3px;
  left: 8px;
  bottom: 0;

  content: "";
  background-color: rgb(224, 224, 224);
}

li::after {
  display: block;
  position: absolute;
  z-index: -1;
  width: calc(100% - 48px);
  height: 1px;
  left: 24px;
  bottom: 0;

  content: "";
  background-color: rgb(224, 224, 224);
}

li:last-child::after {
  display: none;
  height: 0;
}

li.row > *:first-child {
  margin-left: 16px;
}

li.row > *:last-child {
  margin-right: 16px;
}

li:not(.row) > *:not(ul) {
  margin-left: 16px;
  margin-right: 16px;
}

li > span.slider {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

/* Gesture view {{{1*/
section.gesture {
  position: fixed;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
}

section.gesture > canvas {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
}

section.touchArea {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);

  cursor: crosshair;
}

section.touchArea > span {
  position: fixed;
  left: -100px;
  top: -100px;
  color: white;
  font-size: 1px;
}

section.touchArea > section.buttons {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: auto;
  padding: 0;
  right: 0;
}

section.touchArea > section.buttons > i {
  display: block;
  box-sizing: border-box;
  width: 100px;
}

section.touchArea > section.buttons > i[value='on'] {
  color: red;
}

section.touchArea > section.buttons > i[value='auto'] {
  color: blue;
}

/* Drawer {{{1*/
section.drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 1);
}

section.drawer > header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(224, 224, 224, 1);
}

/* Active element {{{1*/
*:focus {
  outline: none;
}

*[active]:not(.touchArea) {
  background-color: rgba(248, 248, 248, 1);
  cursor: pointer;
}

i[active] {
  background-color: rgba(240, 240, 240, 1);
}

